In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
from shapely import wkt
import datetime as dt

Observaciones:
    1. Como en el enunciado se postula el problema enfocado en transporte público, se omitiran analisis
       respecto a usuarios que utilicen o dispongan de vehiculo privado/propio.
    2. A priori, como primer criterio para determinar viajes similares, se buscará informacion relacionada
       a la distancia media entre las minimas distancias entre barrios residenciales y sus paraderos de
       transporte publico mas cercanos.
    3. Dada que la hora es un marco de referencia 'absoluto' para fines de este estudio, mientras mas
       cercanos entre ellos sean (temporalmente hablando) hay mas posibilidades de que se traten de viajes
       similares.
    4. Dificultad a primera vista: ¿como asignar alguna especie de ponderaciones/pesos o criterios con el
       objetivo de determinar algun "score" de similitud?

Notas post-desarrollo:
    1. Faltaron varias cosas, muchas de ellas las tuve que repetir ya que primero comence realizando todo con
       un enfoque local por sobre global (intencionalmente).
    2. La mayoria del desarrollo esta fuertemente acompañado del uso de pandas. Adicionalmente se agregaron
       librerias asociadas a conexiones con mysql.
    3. Los pequeños bozquejos de soluciones ofrecidas para el enunciado podrian ser utilizadas como una primera
       aproximacion para continuar mejorando y puliendo los datos.
    4. Las pruebas de estres y de carga de sistema no se realizaron, y es donde presuntamente pudiesen haber
       una serie de problemas a priori con la escalabilidad (principalmente orientadas a la falta de normalizacion
       de datos en la BD, para la cual en esencia se construyo una unica tabla que almacenaba todas las columnas
       proporcionadas en el csv a excepcion de datasource, ya que se estimó innecesaria para los analisis posteriores.
    5. Se agregó una columna de hora (la cual almacena un entero) a modo de agrupacion junto con la region, siendo estos
       dos criterios los ejes principales de agrupacion elegidos (region y hora)
    6. Para el criterio de la bounding box fue utilizado un proceso bastante rudimentario, es muy probable que existan metodos
       mas eficientes para llevar esto a cabo.
    7. Todo lo realizado no se encuentra en contenedores, por lo que docker no fue utilizado en esta ocasion.
    8. La base de datos generada cumple la siguiente estructura:
        nombre: nw
        nombre de tabla: trip
        query:
            CREATE TABLE `trip` (
                `region` VARCHAR(100) NOT NULL,
                `hour` INT(2) unsigned NOT NULL,
                `origin_coord` VARCHAR(120) NOT NULL,
                `destination_coord` VARCHAR(120) NOT NULL,
                `datetime` DATETIME NOT NULL,
                KEY `reg_hour` (`hour`,`region`) USING BTREE,
                PRIMARY KEY (`region`)
            );
    9. Se cumple con utilizar solo Python y SQL (SOLUCION 4)
    10. SOLUCION 3 y 5 no fueron desarrolladas.

In [2]:
#La principal caracteristica de esta funcion es permitir ocultar o mostrar ciertas columnas.
#Por si sola NO elimina columnas del dataframe (podria pero no es para lo que esta desarrollada).
"""
name: update_columns
        function to modify a list asociated to a dataframe columns.
        focus on developing tasks.
args:
    - func(str):
            'add'    add a column to the dataframe render
            'del'    delete a column from the dataframe render
    - col_name(str): column name being added/deleted
    - col_list(list): list where the modifications are done
"""
def update_columns(func:str, col_name:str, col_list:list):
    if func == 'add' and col_name not in col_list:
        col_list.append(col_name)
    elif func == 'del' and col_name in col_list:
        col_list.remove(col_name)

In [3]:
"""
name: split_coordinates
    split the wkt coordinates from one column to two new columns with each one of its components.
    new columns has by name sufix_x and sufix_y.
args:
    - col_name(str): name of the column being split
    - dataframe(pd.dataFrame): dataframe where the changes will be stored
    - new_sufix(str):
            default ""    if default, the sufix of the new columns are the original column name.
                          else, new_sufix will be a custom string defined by user.
    - inplace(bool):
            default True    if True, the function doesn't return a dataframe, and changes will be done inplace.
                            if False, the function returns a new-memory allocated dataframe.
                            
return: This function has only return value if inplace is False, in that case, a pd.dataFrame is returned.
"""
def split_coordinates(col_name:str, dataframe, new_sufix:str="", inplace:bool=True):
    new_sufix = col_name if new_sufix == "" else new_sufix
    dataframe[new_sufix + "_x"] = [float(re.findall(r"\d{1,2}\.\d*", x)[0]) for x in dataframe[col_name]]
    dataframe[new_sufix + "_y"] = [float(re.findall(r"\d{1,2}\.\d*", x)[1]) for x in dataframe[col_name]]
    if not(inplace):
        return dataframe.copy()

    
"""
name: split_datetime
    split the datetime column into date and time columns.
args:
    - col_name(str): name of the column being split
    - dataframe(pd.dataFrame): dataframe where the changes will be stored
    - inplace(bool):
            default True    if True, the function doesn't return a dataframe, and changes will be done inplace.
                            if False, the function returns a new-memory allocated dataframe.
                            
return: This function has only return value if inplace is False, in that case, a pd.dataFrame is returned.
"""
def split_datetime(col_name:str, dataframe, inplace:bool=True):
    dataframe["date"] = [ (dt.strptime(x, "%Y-%m-%d %H:%M:%S")).date() for x in dataframe[col_name]]
    dataframe["time"] = [(dt.strptime(x, "%Y-%m-%d %H:%M:%S")).time() for x in dataframe[col_name]]
    if not(inplace):
        return dataframe.copy()

In [4]:
"""
name: read_data
    read and create a new instance of pandas dataframe.
args:
    - filename(str): filename of the .csv file to initialize a dataframe(.csv mandatory file).

return: pandas dataframe with all data in csv.
"""
def read_data(filename:str):
    df_raw_data = pd.read_csv(filename)
    df_raw_data.datetime = pd.to_datetime(df_raw_data["datetime"])
    df_raw_data["eval_minutes"] = [x.hour*60 + x.minute for x in df_raw_data.datetime]
    df_raw_data["hour"] = [x.hour for x in df_raw_data.datetime]
    return df_raw_data

"""
name: mean_by_bbox_region
    calculate the average trips per week for the region asked.
args:
    - df(pd.dataframe): pandas dataframe with split columns for x and y components
    - x_min(float): x component for min point of the bounding box
    - y_min(float): y component for min point of the bounding box
    - x_max(float): x component for max point of the bounding box
    - y_max(float): y component for max point of the bounding box
    - reg(str): name of the region which will be consulting.

return: float value with the mean trips per week.
"""
#first version: purely pandas-local version
def mean_by_bbox_region(df, x_min:float, y_min:float, x_max:float, y_max:float, reg:str):
    mask =  (min_x <= df["origin_x"]) & (df["origin_x"] <= max_x) &\
            (min_y <= df["origin_y"]) & (df["origin_y"] <= max_y) &\
            (min_x <= df["dest_x"]) & (df["dest_x"] <= max_x) &\
            (min_y <= df["dest_y"]) & (df["dest_y"] <= max_y) &\
            (df["region"] == reg)

    df_grouped = df[mask].groupby([pd.Grouper(key="region"), 
                                   pd.Grouper(key="datetime", freq="W")]).origin_x
    total_occ = df_grouped.count().sum()
    total_weeks = len(df_grouped.count())
    return total_occ/total_weeks

Como se observa que los datos se encuentran claramente agrupados
en tres sectores de paises distintos, agruparlas por la columna
region no suena a algo insensato. Sin embargo hay que cuidar la
escalabilidad. En una primera instancia se utilizará la columna region
de la data original como unico factor de agrupacion.

Lo anterior sugiere entonces agregar el filtro por tiempo ademas
del filtro de region, con el objetivo de saber cuales son los viajes
que, en efecto, se solapan entre si.

Teniendo en cuenta que las horas punta en lineas generales suelen ser de
6:00 a 9:00 y de 17:00 a 21:00, se decidió considerar ventanas de tres
horas partiendo desde la hora punta de la mañana hasta la hora punta de la tarde.

In [5]:
df = read_data('trips.csv')
df.drop("datasource", axis=1, inplace=True)
split_coordinates("origin_coord", df, "origin")
split_coordinates("destination_coord", df, "dest")

In [6]:
min_x, min_y, max_x, max_y = (9, 50, 120, 130) #ref values just for testing the function
mean_by_bbox_region(df, min_x, min_y, max_x, max_y, "Hamburg")

5.6

In [7]:
df_to_add = df[["region", "hour", "origin_coord", "destination_coord", "datetime"]].copy()
df_to_add.head()

,region,hour,origin_coord,destination_coord,datetime
0,Prague,9,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40
1,Turin,2,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04
2,Prague,8,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25
3,Turin,9,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16
4,Turin,12,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54

In [8]:
#I split the local/pandas code from mysql code just for conveniance, can be restructured.
import pymysql
import config
import mysql.connector as mysqlconn

"""
name: make_connection
    Function to stablish a connectino with database accord config.py file credentials.
args: this function doesn't have arguments, but requires credentials defined in config.py
return: return mysql connection interface
"""
def make_connection():
    connection = pymysql.connect(host=config.host,
                             user=config.user,
                             password=config.password,
                             db=config.database)
    return connection


"""
name: clear_table_db
    this developer-intended function allows to clear all the register in the given table from database.
    NOTE: DO NOT USE IN PRODUCTION ENVIRONMENT!!!
args:
    - db_name(str): database name
    - table_name(str): table name
    
return: this function doesn't have a return value
"""
#function just for developing work, delete it after pass to production
def clear_table_db(db_name:str, table_name:str):
    connection = make_connection()
    cursor = connection.cursor()
    cursor.execute(f"use {db_name};")
    sql = f"DELETE FROM `{table_name}`"
    cursor.execute(sql)
    connection.commit()
    connection.close()

"""
name: show_all_records
    Function that retrieves all records from a table, just for visualization.
args:
    - db_name(str): database_name
    - table_name(str): table_name

return: this function doesn't have any return value
"""
# Execute query
def show_all_records(db_name:str, table_name:str):
    connection = make_connection()
    cursor = connection.cursor()
    cursor.execute(f"use {db_name};")
    sql = f"SELECT * FROM {table_name};"
    cursor.execute(sql)

    # Fetch all the records
    result = cursor.fetchall()
    for i in result:
        print(i)
    connection.close()

"""
name: get_data

args:
    - db_name(str): database name
    - table_name(str): table name
    - region(tuple): 
            default ()    if default, all regions will be consider
                          else regions in the tuple will be returned
    - hour(tuple):
            default ()    if default, all hour will be consider
                          else hours in the tuple will be returned
    - datetime(tuple):
            default ()    if default, all datetimes will be consider
                          if two datetime are given, filter between dates.
                          else ignore the datetime filter.
                          
return: pandas dataframe with the register from de database accord the filters
"""
def get_data(db_name:str, table_name:str, region:tuple=(), hour:tuple=(), datetime:tuple=()):
    connection = mysqlconn.connect(host=config.host, 
                                   database = config.database, 
                                   user=config.user, 
                                   passwd=config.password,
                                   use_pure=True)
    
    sql = f"SELECT * FROM {table_name} "
    
    q_region, q_hour, q_datetime = (len(region), len(hour), len(datetime))
    constraints = []
    if (q_region) == 1:
        constraints.append(f"region = {region[0]} ")
    elif (q_region > 1):
        constraints.append(f"region IN({','.join(region)}) ")
        
    if (q_hour == 1):
        constraints.append(f"hour = {hour[0]} ")
    elif (q_hour > 1):
        constraints.append(f"hour IN({','.join(hour)}) ")
        
    if (q_datetime == 2):
        if datetime[0] > datetime[1]:
            datetime = (datetime[1], datetime[0])
        constraints.append(f"BETWEEN {datetime[0].day}/{datetime[0].month}/{datetime[0].year} AND "+\
                           f"{datetime[1].day}/{datetime[1].month}/{datetime[1].year} ")
    elif (q_datetime != 0):
        print("[!] Warning: 2 datetimes needed in the tuple, ignoring datetimes filter.")
    
    sql += "WHERE " + "and".join(constraints) + ";"
    result_dataFrame = pd.read_sql(sql,connection)
    connection.close() #close the connection
    return result_dataFrame



#------------------------- SOLUCION 2.a -----------------------------
"""
name:get_avg_per_bbox
    calculate the average trips per week given a bounding box and region.
    the datasource for this function is a table in a mysql database.
args:
    - db_name(str): database name
    - table_name(str): table name
    - x_min(float): x component for min point of the bounding box
    - y_min(float): y component for min point of the bounding box
    - x_max(float): x component for max point of the bounding box
    - y_max(float): y component for max point of the bounding box
    - reg(str): name of the region which will be consulting.

return: float value with the mean trips per week.
"""
#Version 2: with database approach
#It can be improved a lot, just a first mysql-approach
# for example, the region filter is applied from sql query, but coords
# still being filtered using pandas (so the local system can be overloaded if
# certain region have so many registers)
def get_avg_per_bbox(db_name:str, table_name:str, min_x:float, min_y:float, max_x:float, max_y:float, region:str):
    
    df = get_data(db_name, table_name, region=(f"'{region}'",))
    split_coordinates("origin_coord", df, "origin")
    split_coordinates("destination_coord", df, "dest")
    
    mask =  (min_x <= df["origin_x"]) & (df["origin_x"] <= max_x) &\
            (min_y <= df["origin_y"]) & (df["origin_y"] <= max_y) &\
            (min_x <= df["dest_x"]) & (df["dest_x"] <= max_x) &\
            (min_y <= df["dest_y"]) & (df["dest_y"] <= max_y) &\
            (df["region"] == region)

    df_grouped = df[mask].groupby([pd.Grouper(key="region"), 
                                   pd.Grouper(key="datetime", freq="W")]).origin_x
    total_occ = df_grouped.count().sum()
    total_weeks = len(df_grouped.count())
    return total_occ/total_weeks



#----------------- SOLUCION 1 ------------------------------------
"""
name: add_data
    Function to add registers to a table accord credentials for mysql connection.
args:
    - db_name(str): database name
    - table_name(str): table name
    - dataframe(pd.dataFrame): dataframe data that will be added to database
    
return: this function doesn't have any return value
    
"""
def add_data(db_name:str,table_name:str,dataframe):
    connection = make_connection()
    cursor = connection.cursor()

    cols = "`,`".join([str(i) for i in dataframe.columns.tolist()])

    # Insert DataFrame records one by one.
    for i,row in dataframe.iterrows():

        sql = f"INSERT INTO `{table_name}` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row))

        # the connection is not autocommitted by default, so we must commit to save our changes
        connection.commit()
    connection.close()

In [9]:
add_data("nw","trip",df_to_add)

In [10]:
show_all_records("nw", "trip")

(1401, 'Prague', 9, 'POINT (14.4973794438195 50.00136875782316)', 'POINT (14.43109483523328 50.04052930943246)', datetime.datetime(2018, 5, 28, 9, 3, 40))
(1402, 'Turin', 2, 'POINT (7.672837913286881 44.9957109242058)', 'POINT (7.720368637535126 45.06782385393849)', datetime.datetime(2018, 5, 21, 2, 54, 4))
(1403, 'Prague', 8, 'POINT (14.32427345662177 50.00002074358429)', 'POINT (14.47767895969969 50.09339790740321)', datetime.datetime(2018, 5, 13, 8, 52, 25))
(1404, 'Turin', 9, 'POINT (7.541509189114433 45.09160503827746)', 'POINT (7.74528653441973 45.02628598341506)', datetime.datetime(2018, 5, 6, 9, 49, 16))
(1405, 'Turin', 12, 'POINT (7.614078119815749 45.13433106465422)', 'POINT (7.527497142312585 45.03335051325654)', datetime.datetime(2018, 5, 23, 12, 45, 54))
(1406, 'Hamburg', 9, 'POINT (10.07299025213017 53.62044974829032)', 'POINT (9.789197601249002 53.46315765148751)', datetime.datetime(2018, 5, 15, 9, 13, 36))
(1407, 'Hamburg', 13, 'POINT (9.910278201788232 53.58386264717827)', 'POINT (10.02557919725378 53.4120717767391)', datetime.datetime(2018, 5, 13, 13, 9, 19))
(1408, 'Turin', 0, 'POINT (7.560785081962462 45.01901608530191)', 'POINT (7.583568695710608 45.10526898076209)', datetime.datetime(2018, 5, 6, 0, 0, 44))
(1409, 'Turin', 2, 'POINT (7.702418079996892 45.05754972796922)', 'POINT (7.623229346744799 44.99969774086024)', datetime.datetime(2018, 5, 14, 2, 7, 30))
(1410, 'Hamburg', 0, 'POINT (10.05260098579818 53.53497739746809)', 'POINT (10.05889649564977 53.49486429314853)', datetime.datetime(2018, 5, 4, 0, 46, 12))
(1411, 'Hamburg', 6, 'POINT (9.961144659266848 53.42865933587807)', 'POINT (10.08503581364391 53.43645004358303)', datetime.datetime(2018, 5, 6, 6, 34, 22))
(1412, 'Hamburg', 10, 'POINT (9.855285083390802 53.49609983095765)', 'POINT (10.03327373452912 53.65419620043016)', datetime.datetime(2018, 5, 31, 10, 55, 12))
(1413, 'Turin', 6, 'POINT (7.631911234917911 45.07638462112543)', 'POINT (7.631498786757075 45.12355143687468)', datetime.datetime(2018, 5, 31, 6, 20, 59))
(1414, 'Prague', 2, 'POINT (14.34394689715277 50.12299688052901)', 'POINT (14.45046952210687 50.10077692162883)', datetime.datetime(2018, 5, 20, 2, 31, 22))
(1415, 'Turin', 15, 'POINT (7.557295325138827 44.980984165477)', 'POINT (7.634488648561684 45.09941960292201)', datetime.datetime(2018, 5, 25, 15, 16, 35))
(1416, 'Prague', 11, 'POINT (14.49290671173996 50.01644032542101)', 'POINT (14.48735724430722 50.0275445326544)', datetime.datetime(2018, 5, 1, 11, 50, 58))
(1417, 'Turin', 17, 'POINT (7.558864701837288 45.11540031667295)', 'POINT (7.770328470181719 45.05433872971169)', datetime.datetime(2018, 5, 1, 17, 42, 5))
(1418, 'Prague', 12, 'POINT (14.41986637983827 50.02012470664376)', 'POINT (14.41014860957387 50.08518970681641)', datetime.datetime(2018, 5, 6, 12, 56, 14))
(1419, 'Turin', 15, 'POINT (7.703220872633631 45.12041666625482)', 'POINT (7.713229884381637 45.08729268877508)', datetime.datetime(2018, 5, 29, 15, 58, 39))
(1420, 'Hamburg', 17, 'POINT (9.915740323664213 53.60938698922035)', 'POINT (9.836133816394081 53.5340991521548)', datetime.datetime(2018, 5, 10, 17, 51, 38))
(1421, 'Turin', 11, 'POINT (7.56304564848932 44.97612466562052)', 'POINT (7.731930611357271 45.07122576386962)', datetime.datetime(2018, 5, 16, 11, 56, 33))
(1422, 'Prague', 21, 'POINT (14.42559620999022 50.05308939656821)', 'POINT (14.54762887318999 50.00573858824717)', datetime.datetime(2018, 5, 11, 21, 16, 54))
(1423, 'Hamburg', 12, 'POINT (10.20044161946335 53.54722485790852)', 'POINT (9.857518857977054 53.52506880668962)', datetime.datetime(2018, 5, 5, 12, 39, 21))
(1424, 'Hamburg', 5, 'POINT (9.851542240435057 53.49993939960235)', 'POINT (10.03250822637649 53.50058121032057)', datetime.datetime(2018, 5, 23, 5, 55, 37))
(1425, 'Turin', 12, 'POINT (7.603105215841434 45.0574978503937)', 'POINT (7.639578002290701 45.10020564825853)', datetime.datetime(2018, 5, 13, 12, 0, 21))
(1426, 'Hamburg', 9, 'POINT (9.80304883152659 53.50847122244616)', 'POINT (9.834883820942993 53.63694321201706)', datetime.datetime(2018, 5, 9, 9, 28, 24))
(1427, 'Prague', 4, 'POINT (14.65848565403607 50.11571340810843)', 'POINT (14.61296534823862 50.06347771442317)', datetime.datetime(2018, 5, 8, 4, 22, 1))
(1428, 'Prague', 6, 'POINT (14.35146190337486 50.10386689948413)', 'POINT (14.3588281620048 50.00428816034508)', datetime.datetime(2018, 5, 21, 6, 52, 19))
(1429, 'Turin', 4, 'POINT (7.691232870035057 45.06910822622201)', 'POINT (7.526357497337862 44.98174478195055)', datetime.datetime(2018, 5, 26, 4, 25, 56))
(1430, 'Prague', 13, 'POINT (14.4251434102725 50.08626745067269)', 'POINT (14.40585085170846 50.09331773424552)', datetime.datetime(2018, 5, 2, 13, 48, 30))
(1431, 'Turin', 5, 'POINT (7.621866502979116 45.08793552379486)', 'POINT (7.558481292621633 45.09629278672146)', datetime.datetime(2018, 5, 20, 5, 39, 56))
(1432, 'Turin', 13, 'POINT (7.685899281076795 45.07566566332665)', 'POINT (7.715597191909829 45.05465181263087)', datetime.datetime(2018, 5, 29, 13, 42, 34))
(1433, 'Prague', 5, 'POINT (14.55782768207913 50.08426714850849)', 'POINT (14.60224344606894 50.10794700670115)', datetime.datetime(2018, 5, 6, 5, 13, 16))
(1434, 'Turin', 15, 'POINT (7.662608916626361 45.09442558983316)', 'POINT (7.724289698249433 45.07378523979249)', datetime.datetime(2018, 5, 8, 15, 11, 1))
(1435, 'Prague', 15, 'POINT (14.56801740803507 49.98980557466577)', 'POINT (14.60544806001137 50.1174974586993)', datetime.datetime(2018, 5, 12, 15, 12, 4))
(1436, 'Prague', 23, 'POINT (14.31840390580184 50.08466755143189)', 'POINT (14.55762488630385 50.08502385365859)', datetime.datetime(2018, 5, 19, 23, 8, 9))
(1437, 'Prague', 1, 'POINT (14.66689257396927 50.07203997731474)', 'POINT (14.45281481537168 50.03751904953268)', datetime.datetime(2018, 5, 3, 1, 35, 44))
(1438, 'Turin', 12, 'POINT (7.625041142160284 44.98182259298021)', 'POINT (7.738953769704938 45.03730563222917)', datetime.datetime(2018, 5, 26, 12, 14, 42))
(1439, 'Hamburg', 19, 'POINT (10.04884628340258 53.51430547831718)', 'POINT (9.805977128944804 53.56924626552725)', datetime.datetime(2018, 5, 21, 19, 13, 24))
(1440, 'Hamburg', 11, 'POINT (10.2154964127794 53.53161090271701)', 'POINT (10.20544652088819 53.5064112329052)', datetime.datetime(2018, 5, 18, 11, 7, 29))
(1441, 'Prague', 12, 'POINT (14.42406040824624 50.07214185487351)', 'POINT (14.31657321025762 50.09295527259866)', datetime.datetime(2018, 5, 29, 12, 44, 2))
(1442, 'Turin', 16, 'POINT (7.6523523241688 45.13930102848315)', 'POINT (7.546186195389519 45.00660293197863)', datetime.datetime(2018, 5, 3, 16, 16, 46))
(1443, 'Prague', 4, 'POINT (14.49581069715323 50.07207927074405)', 'POINT (14.54926715156042 50.04365439736826)', datetime.datetime(2018, 5, 4, 4, 40, 35))
(1444, 'Turin', 20, 'POINT (7.671077441892763 45.00676340143624)', 'POINT (7.7199332961156 44.98171705467543)', datetime.datetime(2018, 5, 15, 20, 30, 12))
(1445, 'Prague', 1, 'POINT (14.33107209002501 50.06307196908211)', 'POINT (14.3200468695536 50.10807754182695)', datetime.datetime(2018, 5, 20, 1, 41, 36))
(1446, 'Turin', 5, 'POINT (7.739660019780326 45.10100884469237)', 'POINT (7.597114891145975 45.1162369066238)', datetime.datetime(2018, 5, 26, 5, 15, 45))
(1447, 'Turin', 15, 'POINT (7.557756740222061 45.0225802162822)', 'POINT (7.763266287022981 45.03194358259004)', datetime.datetime(2018, 5, 3, 15, 15, 28))
(1448, 'Prague', 2, 'POINT (14.52723245789148 50.01620449831963)', 'POINT (14.66530238921314 50.11783538584734)', datetime.datetime(2018, 5, 4, 2, 42, 32))
(1449, 'Hamburg', 10, 'POINT (9.936476031944927 53.45543416459435)', 'POINT (10.04091186185177 53.42024644236509)', datetime.datetime(2018, 5, 1, 10, 22, 59))
(1450, 'Turin', 4, 'POINT (7.616964015642722 45.04912350611652)', 'POINT (7.700324102531206 45.0688897670161)', datetime.datetime(2018, 5, 28, 4, 23, 42))
(1451, 'Prague', 3, 'POINT (14.62777653398497 50.00367807685823)', 'POINT (14.64297252209033 50.0121919035355)', datetime.datetime(2018, 5, 29, 3, 33, 44))
(1452, 'Hamburg', 4, 'POINT (10.06118280297654 53.46738240063593)', 'POINT (10.20354128171305 53.51109692120344)', datetime.datetime(2018, 5, 17, 4, 27, 9))
(1453, 'Prague', 5, 'POINT (14.37153748521014 50.00937333429672)', 'POINT (14.65648496061339 50.1233558262903)', datetime.datetime(2018, 5, 20, 5, 47, 2))
(1454, 'Prague', 23, 'POINT (14.37338615486802 50.06537556739956)', 'POINT (14.54081985518606 50.08790619445585)', datetime.datetime(2018, 5, 10, 23, 4, 58))
(1455, 'Prague', 1, 'POINT (14.53300650375239 50.12502233477432)', 'POINT (14.66560032530535 50.0869602482622)', datetime.datetime(2018, 5, 23, 1, 7, 33))
(1456, 'Hamburg', 1, 'POINT (10.02610136178745 53.50122432388112)', 'POINT (9.834147669301471 53.6513082275632)', datetime.datetime(2018, 5, 14, 1, 47, 52))
(1457, 'Turin', 22, 'POINT (7.563475091132667 44.97997955620617)', 'POINT (7.517129937471816 45.06482486034779)', datetime.datetime(2018, 5, 13, 22, 16, 27))
(1458, 'Prague', 20, 'POINT (14.64292585196625 50.02034172465275)', 'POINT (14.5017970263999 50.03963869865565)', datetime.datetime(2018, 5, 17, 20, 15, 45))
(1459, 'Turin', 19, 'POINT (7.592730702551875 45.10999018294942)', 'POINT (7.714926530712359 45.0772550203861)', datetime.datetime(2018, 5, 18, 19, 29, 56))
(1460, 'Prague', 20, 'POINT (14.42318361059361 50.11958193109052)', 'POINT (14.49475583828166 50.02232490084747)', datetime.datetime(2018, 5, 26, 20, 39, 37))
(1461, 'Prague', 10, 'POINT (14.37987779362806 50.02580819336156)', 'POINT (14.44097861083801 49.99269705719384)', datetime.datetime(2018, 5, 3, 10, 45, 23))
(1462, 'Prague', 1, 'POINT (14.34989439101649 50.0578756416996)', 'POINT (14.6610239449707 50.07877245872595)', datetime.datetime(2018, 5, 26, 1, 13, 35))
(1463, 'Turin', 6, 'POINT (7.732828486976612 45.09748898017552)', 'POINT (7.66250749081722 45.06472681372993)', datetime.datetime(2018, 5, 26, 6, 4, 17))
(1464, 'Turin', 9, 'POINT (7.688747565021865 44.98886727473593)', 'POINT (7.761744775147509 44.98665501392073)', datetime.datetime(2018, 5, 27, 9, 49, 16))
(1465, 'Prague', 23, 'POINT (14.34611560109357 50.02251748571683)', 'POINT (14.34790601885638 50.11666616118271)', datetime.datetime(2018, 5, 14, 23, 16, 56))
(1466, 'Turin', 9, 'POINT (7.647498943910875 45.01930299183481)', 'POINT (7.776838688899015 45.02291834470744)', datetime.datetime(2018, 5, 25, 9, 59, 33))
(1467, 'Turin', 8, 'POINT (7.55733220251515 45.04346691930719)', 'POINT (7.586779246260459 45.01495013918306)', datetime.datetime(2018, 5, 23, 8, 59, 29))
(1468, 'Prague', 2, 'POINT (14.38418951543671 50.07570422895751)', 'POINT (14.41150237340828 50.02800588921088)', datetime.datetime(2018, 5, 23, 2, 18, 33))
(1469, 'Turin', 4, 'POINT (7.579174066609555 45.07058209228659)', 'POINT (7.613484349321846 45.06088494858106)', datetime.datetime(2018, 5, 8, 4, 29, 25))
(1470, 'Prague', 5, 'POINT (14.56861581242726 50.10620152153201)', 'POINT (14.31831785619946 49.999311030748)', datetime.datetime(2018, 5, 3, 5, 24, 26))
(1471, 'Turin', 6, 'POINT (7.675234513598563 45.08658289542927)', 'POINT (7.673694614207704 45.05708350682146)', datetime.datetime(2018, 5, 15, 6, 42, 5))
(1472, 'Turin', 7, 'POINT (7.72037765675129 45.1044438436921)', 'POINT (7.695048310476258 45.12827648115218)', datetime.datetime(2018, 5, 5, 7, 5, 1))
(1473, 'Turin', 5, 'POINT (7.555153646171233 44.99912435872375)', 'POINT (7.703621918783042 45.12162242437576)', datetime.datetime(2018, 5, 11, 5, 58, 34))
(1474, 'Prague', 9, 'POINT (14.65754935346634 50.11820315220623)', 'POINT (14.48378121129139 50.09770540993485)', datetime.datetime(2018, 5, 10, 9, 38, 12))
(1475, 'Turin', 15, 'POINT (7.535738586259044 45.09228283767607)', 'POINT (7.579705278243088 45.1042591460774)', datetime.datetime(2018, 5, 21, 15, 36, 26))
(1476, 'Hamburg', 20, 'POINT (10.00384920850646 53.65220121071665)', 'POINT (9.944925737232104 53.42494618904695)', datetime.datetime(2018, 5, 21, 20, 53, 22))
(1477, 'Turin', 0, 'POINT (7.551997743457845 44.99638623936507)', 'POINT (7.531353488607957 45.01346936150077)', datetime.datetime(2018, 5, 2, 0, 22, 18))
(1478, 'Prague', 4, 'POINT (14.59545724636152 50.0524554235424)', 'POINT (14.48321912885263 50.06509529578676)', datetime.datetime(2018, 5, 9, 4, 23, 26))
(1479, 'Turin', 15, 'POINT (7.513135087952872 45.04417775442011)', 'POINT (7.643592218026432 45.02125136819493)', datetime.datetime(2018, 5, 13, 15, 37, 37))
(1480, 'Prague', 9, 'POINT (14.47912398994219 50.11781434726048)', 'POINT (14.54894833778109 50.01480664304733)', datetime.datetime(2018, 5, 19, 9, 7, 17))
(1481, 'Hamburg', 11, 'POINT (9.91347867604199 53.64940529138455)', 'POINT (10.17687554971065 53.63421553339072)', datetime.datetime(2018, 5, 31, 11, 59, 33))
(1482, 'Hamburg', 10, 'POINT (10.17801484401512 53.55155909331071)', 'POINT (9.958672518621771 53.5509263400788)', datetime.datetime(2018, 5, 7, 10, 28, 4))
(1483, 'Hamburg', 7, 'POINT (10.08064772413434 53.5438877700869)', 'POINT (9.985427968556252 53.41711096758155)', datetime.datetime(2018, 5, 29, 7, 2, 25))
(1484, 'Hamburg', 16, 'POINT (10.03381912541321 53.52487206530561)', 'POINT (9.822644521723184 53.60047266825603)', datetime.datetime(2018, 5, 12, 16, 40, 40))
(1485, 'Turin', 7, 'POINT (7.579546999972512 45.07031923406972)', 'POINT (7.698742357182772 45.05242942915245)', datetime.datetime(2018, 5, 27, 7, 6, 44))
(1486, 'Hamburg', 6, 'POINT (10.20093686911824 53.50775292606026)', 'POINT (10.03920714083507 53.56698314675397)', datetime.datetime(2018, 5, 29, 6, 6, 38))
(1487, 'Turin', 21, 'POINT (7.676692231736426 45.06249909939103)', 'POINT (7.686960868773017 45.09709631077637)', datetime.datetime(2018, 5, 21, 21, 32, 17))
(1488, 'Turin', 6, 'POINT (7.546386797113857 45.08746266421812)', 'POINT (7.555944481215518 44.9974979951791)', datetime.datetime(2018, 5, 5, 6, 8, 53))
(1489, 'Hamburg', 17, 'POINT (10.15410920623684 53.53092417407957)', 'POINT (10.1041201879328 53.42920211427293)', datetime.datetime(2018, 5, 27, 17, 41, 17))
(1490, 'Hamburg', 5, 'POINT (9.840595540189936 53.50991873196815)', 'POINT (10.12399795075635 53.62949412099623)', datetime.datetime(2018, 5, 1, 5, 24, 37))
(1491, 'Turin', 18, 'POINT (7.723807753167536 45.02971128289503)', 'POINT (7.592874526101529 45.0395824302331)', datetime.datetime(2018, 5, 24, 18, 32, 22))
(1492, 'Hamburg', 22, 'POINT (10.19019363228404 53.45209827865287)', 'POINT (10.0999398824815 53.55965167658809)', datetime.datetime(2018, 5, 28, 22, 4, 56))
(1493, 'Hamburg', 4, 'POINT (10.17378993097742 53.5467336774148)', 'POINT (10.21529787231755 53.50485266884467)', datetime.datetime(2018, 5, 21, 4, 6, 11))
(1494, 'Hamburg', 3, 'POINT (10.1457401708168 53.43686908113324)', 'POINT (10.19421502623748 53.49444402955017)', datetime.datetime(2018, 5, 10, 3, 37, 56))
(1495, 'Hamburg', 18, 'POINT (10.0778786538811 53.60371774249091)', 'POINT (9.880352497673615 53.56088794736056)', datetime.datetime(2018, 5, 19, 18, 32, 9))
(1496, 'Prague', 18, 'POINT (14.33562319852013 50.05977285737693)', 'POINT (14.45302412886982 50.06961029075634)', datetime.datetime(2018, 5, 3, 18, 56, 45))
(1497, 'Hamburg', 12, 'POINT (9.996714798980491 53.52203690589671)', 'POINT (10.17431393081631 53.51796499041119)', datetime.datetime(2018, 5, 23, 12, 43, 17))
(1498, 'Prague', 8, 'POINT (14.40975521275597 50.037791514028)', 'POINT (14.59895464921585 50.05472087955579)', datetime.datetime(2018, 5, 12, 8, 13, 9))
(1499, 'Hamburg', 10, 'POINT (10.08338857045871 53.59661344302611)', 'POINT (10.17914017806172 53.60909301795856)', datetime.datetime(2018, 5, 22, 10, 39, 49))
(1500, 'Prague', 22, 'POINT (14.61738744026195 50.03346482370401)', 'POINT (14.31199296863995 50.09604608872181)', datetime.datetime(2018, 5, 15, 22, 10, 3))
(1501, 'Prague', 9, 'POINT (14.4973794438195 50.00136875782316)', 'POINT (14.43109483523328 50.04052930943246)', datetime.datetime(2018, 5, 28, 9, 3, 40))
(1502, 'Turin', 2, 'POINT (7.672837913286881 44.9957109242058)', 'POINT (7.720368637535126 45.06782385393849)', datetime.datetime(2018, 5, 21, 2, 54, 4))
(1503, 'Prague', 8, 'POINT (14.32427345662177 50.00002074358429)', 'POINT (14.47767895969969 50.09339790740321)', datetime.datetime(2018, 5, 13, 8, 52, 25))
(1504, 'Turin', 9, 'POINT (7.541509189114433 45.09160503827746)', 'POINT (7.74528653441973 45.02628598341506)', datetime.datetime(2018, 5, 6, 9, 49, 16))
(1505, 'Turin', 12, 'POINT (7.614078119815749 45.13433106465422)', 'POINT (7.527497142312585 45.03335051325654)', datetime.datetime(2018, 5, 23, 12, 45, 54))
(1506, 'Hamburg', 9, 'POINT (10.07299025213017 53.62044974829032)', 'POINT (9.789197601249002 53.46315765148751)', datetime.datetime(2018, 5, 15, 9, 13, 36))
(1507, 'Hamburg', 13, 'POINT (9.910278201788232 53.58386264717827)', 'POINT (10.02557919725378 53.4120717767391)', datetime.datetime(2018, 5, 13, 13, 9, 19))
(1508, 'Turin', 0, 'POINT (7.560785081962462 45.01901608530191)', 'POINT (7.583568695710608 45.10526898076209)', datetime.datetime(2018, 5, 6, 0, 0, 44))
(1509, 'Turin', 2, 'POINT (7.702418079996892 45.05754972796922)', 'POINT (7.623229346744799 44.99969774086024)', datetime.datetime(2018, 5, 14, 2, 7, 30))
(1510, 'Hamburg', 0, 'POINT (10.05260098579818 53.53497739746809)', 'POINT (10.05889649564977 53.49486429314853)', datetime.datetime(2018, 5, 4, 0, 46, 12))
(1511, 'Hamburg', 6, 'POINT (9.961144659266848 53.42865933587807)', 'POINT (10.08503581364391 53.43645004358303)', datetime.datetime(2018, 5, 6, 6, 34, 22))
(1512, 'Hamburg', 10, 'POINT (9.855285083390802 53.49609983095765)', 'POINT (10.03327373452912 53.65419620043016)', datetime.datetime(2018, 5, 31, 10, 55, 12))
(1513, 'Turin', 6, 'POINT (7.631911234917911 45.07638462112543)', 'POINT (7.631498786757075 45.12355143687468)', datetime.datetime(2018, 5, 31, 6, 20, 59))
(1514, 'Prague', 2, 'POINT (14.34394689715277 50.12299688052901)', 'POINT (14.45046952210687 50.10077692162883)', datetime.datetime(2018, 5, 20, 2, 31, 22))
(1515, 'Turin', 15, 'POINT (7.557295325138827 44.980984165477)', 'POINT (7.634488648561684 45.09941960292201)', datetime.datetime(2018, 5, 25, 15, 16, 35))
(1516, 'Prague', 11, 'POINT (14.49290671173996 50.01644032542101)', 'POINT (14.48735724430722 50.0275445326544)', datetime.datetime(2018, 5, 1, 11, 50, 58))
(1517, 'Turin', 17, 'POINT (7.558864701837288 45.11540031667295)', 'POINT (7.770328470181719 45.05433872971169)', datetime.datetime(2018, 5, 1, 17, 42, 5))
(1518, 'Prague', 12, 'POINT (14.41986637983827 50.02012470664376)', 'POINT (14.41014860957387 50.08518970681641)', datetime.datetime(2018, 5, 6, 12, 56, 14))
(1519, 'Turin', 15, 'POINT (7.703220872633631 45.12041666625482)', 'POINT (7.713229884381637 45.08729268877508)', datetime.datetime(2018, 5, 29, 15, 58, 39))
(1520, 'Hamburg', 17, 'POINT (9.915740323664213 53.60938698922035)', 'POINT (9.836133816394081 53.5340991521548)', datetime.datetime(2018, 5, 10, 17, 51, 38))
(1521, 'Turin', 11, 'POINT (7.56304564848932 44.97612466562052)', 'POINT (7.731930611357271 45.07122576386962)', datetime.datetime(2018, 5, 16, 11, 56, 33))
(1522, 'Prague', 21, 'POINT (14.42559620999022 50.05308939656821)', 'POINT (14.54762887318999 50.00573858824717)', datetime.datetime(2018, 5, 11, 21, 16, 54))
(1523, 'Hamburg', 12, 'POINT (10.20044161946335 53.54722485790852)', 'POINT (9.857518857977054 53.52506880668962)', datetime.datetime(2018, 5, 5, 12, 39, 21))
(1524, 'Hamburg', 5, 'POINT (9.851542240435057 53.49993939960235)', 'POINT (10.03250822637649 53.50058121032057)', datetime.datetime(2018, 5, 23, 5, 55, 37))
(1525, 'Turin', 12, 'POINT (7.603105215841434 45.0574978503937)', 'POINT (7.639578002290701 45.10020564825853)', datetime.datetime(2018, 5, 13, 12, 0, 21))
(1526, 'Hamburg', 9, 'POINT (9.80304883152659 53.50847122244616)', 'POINT (9.834883820942993 53.63694321201706)', datetime.datetime(2018, 5, 9, 9, 28, 24))
(1527, 'Prague', 4, 'POINT (14.65848565403607 50.11571340810843)', 'POINT (14.61296534823862 50.06347771442317)', datetime.datetime(2018, 5, 8, 4, 22, 1))

In [11]:
#this function clears the entire table, so just use it for developing tasks
#clear_table_db("nw","trip")

In [12]:
min_x, min_y, max_x, max_y = (9, 50, 120, 130) #copy-paste from above just for testing
get_avg_per_bbox("nw","trip", min_x, min_y, max_x, max_y, "Hamburg")

C:\Users\carol\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

22.4