In [74]:
import numpy as np
import pandas as pd
import re

In [75]:
'''
Observaciones:
    1. Como en el enunciado se postula el problema enfocado en transporte público, se omitiran analisis
       respecto a usuarios que utilicen o dispongan de vehiculo privado/propio.
    2. A priori, como primer criterio para determinar viajes similares, se buscará informacion relacionada
       a la distancia media entre las minimas distancias entre barrios residenciales y sus paraderos de
       transporte publico mas cercanos.
    3. Dada que la hora es un marco de referencia 'absoluto' para fines de este estudio, mientras mas
       cercanos entre ellos sean (temporalmente hablando) hay mas posibilidades de que se traten de viajes
       similares.
    4. Dificultad a primera vista: ¿como asignar alguna especie de ponderaciones/pesos o criterios con el
       objetivo de determinar algun "score" de similitud?
'''

'\nObservaciones:\n    1. Como en el enunciado se postula el problema enfocado en transporte público, se omitiran analisis\n       respecto a usuarios que utilicen o dispongan de vehiculo privado/propio.\n    2. A priori, como primer criterio para determinar viajes similares, se buscará informacion relacionada\n       a la distancia media entre las minimas distancias entre barrios residenciales y sus paraderos de\n       transporte publico mas cercanos.\n    3. Dada que la hora es un marco de referencia \'absoluto\' para fines de este estudio, mientras mas\n       cercanos entre ellos sean (temporalmente hablando) hay mas posibilidades de que se traten de viajes\n       similares.\n    4. Dificultad a primera vista: ¿como asignar alguna especie de ponderaciones/pesos o criterios con el\n       objetivo de determinar algun "score" de similitud?\n'

In [76]:
def update_columns(func:str, col_name:str, col_list:list):
    if func is 'add' and col_name not in col_list:
        col_list.append(col_name)
    elif func is 'del' and col_name in col_list:
        col_list.remove(col_name)

In [77]:
df_raw_data = pd.read_csv('trips.csv')
columns_to_show = list(df_raw_data.columns.copy())
update_columns('del', 'datasource', columns_to_show)
df_raw_data.head()[columns_to_show]

,region,origin_coord,destination_coord,datetime
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54

In [78]:
#Preprocesamiento y filtrado de columnas que no seran utilizadas
#Separacion de los puntos en sus componentes (probable criterio para identificar cercania)
df_raw_data['origin_x'] = [float(re.findall(r'\d{1,2}\.\d*', x)[0]) for x in df_raw_data['origin_coord']]
df_raw_data['origin_y'] = [float(re.findall(r'\d{1,2}\.\d*', x)[1]) for x in df_raw_data['origin_coord']]
update_columns('del', 'origin_coord', columns_to_show)
update_columns('add', 'origin_x', columns_to_show)
update_columns('add', 'origin_y', columns_to_show)

df_raw_data['dest_x'] = [float(re.findall(r'\d{1,2}\.\d*', x)[0]) for x in df_raw_data['destination_coord']]
df_raw_data['dest_y'] = [float(re.findall(r'\d{1,2}\.\d*', x)[1]) for x in df_raw_data['destination_coord']]
update_columns('del', 'destination_coord', columns_to_show)
update_columns('add', 'dest_x', columns_to_show)
update_columns('add', 'dest_y', columns_to_show)

df_raw_data.head()[columns_to_show]

   region             datetime   origin_x   origin_y     dest_x     dest_y
0  Prague  2018-05-28 09:03:40  14.497379  50.001369  14.431095  50.040529
1   Turin  2018-05-21 02:54:04   7.672838  44.995711   7.720369  45.067824
2  Prague  2018-05-13 08:52:25  14.324273  50.000021  14.477679  50.093398
3   Turin  2018-05-06 09:49:16   7.541509  45.091605   7.745287  45.026286
4   Turin  2018-05-23 12:45:54   7.614078  45.134331   7.527497  45.033351

In [79]:
#Primera agrupacion trivial, por region
df_raw_data.groupby('region')['region'].describe()

        count unique      top freq
region
Hamburg    28      1  Hamburg   28
Prague     34      1   Prague   34
Turin      38      1    Turin   38

In [80]:
for reg in df_raw_data['region'].unique():
    mask = df_raw_data['region'] == str(reg)
    print(reg)
    print(df_raw_data[mask][columns_to_show[1:]])

Prague
               datetime   origin_x   origin_y     dest_x     dest_y
0   2018-05-28 09:03:40  14.497379  50.001369  14.431095  50.040529
2   2018-05-13 08:52:25  14.324273  50.000021  14.477679  50.093398
13  2018-05-20 02:31:22  14.343947  50.122997  14.450470  50.100777
15  2018-05-01 11:50:58  14.492907  50.016440  14.487357  50.027545
17  2018-05-06 12:56:14  14.419866  50.020125  14.410149  50.085190
21  2018-05-11 21:16:54  14.425596  50.053089  14.547629  50.005739
26  2018-05-08 04:22:01  14.658486  50.115713  14.612965  50.063478
27  2018-05-21 06:52:19  14.351462  50.103867  14.358828  50.004288
29  2018-05-02 13:48:30  14.425143  50.086267  14.405851  50.093318
32  2018-05-06 05:13:16  14.557828  50.084267  14.602243  50.107947
34  2018-05-12 15:12:04  14.568017  49.989806  14.605448  50.117497
35  2018-05-19 23:08:09  14.318404  50.084668  14.557625  50.085024
36  2018-05-03 01:35:44  14.666893  50.072040  14.452815  50.037519
40  2018-05-29 12:44:02  14.424060  50.072142  14.316573  50.092955
42  2018-05-04 04:40:35  14.495811  50.072079  14.549267  50.043654
44  2018-05-20 01:41:36  14.331072  50.063072  14.320047  50.108078
47  2018-05-04 02:42:32  14.527232  50.016204  14.665302  50.117835
50  2018-05-29 03:33:44  14.627777  50.003678  14.642973  50.012192
52  2018-05-20 05:47:02  14.371537  50.009373  14.656485  50.123356
53  2018-05-10 23:04:58  14.373386  50.065376  14.540820  50.087906
54  2018-05-23 01:07:33  14.533007  50.125022  14.665600  50.086960
57  2018-05-17 20:15:45  14.642926  50.020342  14.501797  50.039639
59  2018-05-26 20:39:37  14.423184  50.119582  14.494756  50.022325
60  2018-05-03 10:45:23  14.379878  50.025808  14.440979  49.992697
61  2018-05-26 01:13:35  14.349894  50.057876  14.661024  50.078772
64  2018-05-14 23:16:56  14.346116  50.022517  14.347906  50.116666
67  2018-05-23 02:18:33  14.384190  50.075704  14.411502  50.028006
69  2018-05-03 05:24:26  14.568616  50.106202  14.318318  49.999311
73  2018-05-10 09:38:12  14.657549  50.118203  14.483781  50.097705
77  2018-05-09 04:23:26  14.595457  50.052455  14.483219  50.065095
79  2018-05-19 09:07:17  14.479124  50.117814  14.548948  50.014807
95  2018-05-03 18:56:45  14.335623  50.059773  14.453024  50.069610
97  2018-05-12 08:13:09  14.409755  50.037792  14.598955  50.054721
99  2018-05-15 22:10:03  14.617387  50.033465  14.311993  50.096046
Turin
               datetime  origin_x   origin_y    dest_x     dest_y
1   2018-05-21 02:54:04  7.672838  44.995711  7.720369  45.067824
3   2018-05-06 09:49:16  7.541509  45.091605  7.745287  45.026286
4   2018-05-23 12:45:54  7.614078  45.134331  7.527497  45.033351
7   2018-05-06 00:00:44  7.560785  45.019016  7.583569  45.105269
8   2018-05-14 02:07:30  7.702418  45.057550  7.623229  44.999698
12  2018-05-31 06:20:59  7.631911  45.076385  7.631499  45.123551
14  2018-05-25 15:16:35  7.557295  44.980984  7.634489  45.099420
16  2018-05-01 17:42:05  7.558865  45.115400  7.770328  45.054339
18  2018-05-29 15:58:39  7.703221  45.120417  7.713230  45.087293
20  2018-05-16 11:56:33  7.563046  44.976125  7.731931  45.071226
24  2018-05-13 12:00:21  7.603105  45.057498  7.639578  45.100206
28  2018-05-26 04:25:56  7.691233  45.069108  7.526357  44.981745
30  2018-05-20 05:39:56  7.621867  45.087936  7.558481  45.096293
31  2018-05-29 13:42:34  7.685899  45.075666  7.715597  45.054652
33  2018-05-08 15:11:01  7.662609  45.094426  7.724290  45.073785
37  2018-05-26 12:14:42  7.625041  44.981823  7.738954  45.037306
41  2018-05-03 16:16:46  7.652352  45.139301  7.546186  45.006603
43  2018-05-15 20:30:12  7.671077  45.006763  7.719933  44.981717
45  2018-05-26 05:15:45  7.739660  45.101009  7.597115  45.116237
46  2018-05-03 15:15:28  7.557757  45.022580  7.763266  45.031944
49  2018-05-28 04:23:42  7.616964  45.049124  7.700324  45.068890
56  2018-05-13 22:16:27  7.563475  44.979980  7.517130  45.064825
58  2018-05-18 19:29:56  7.592731  45.109990  7.714927  45.077255
62  2018-05-26 06:04:17  7.732828  45.097489  7.662507  45.064727
63  2018-05-27 09:49:16  7.688748  44.988867  7.761745  44.986655
65  2018-05-25 09:59:33  7.647499  45.019303  7.776839  45.022918
66  2018-05-23 08:59:29  7.557332  45.043467  7.586779  45.014950
68  2018-05-08 04:29:25  7.579174  45.070582  7.613484  45.060885
70  2018-05-15 06:42:05  7.675235  45.086583  7.673695  45.057084
71  2018-05-05 07:05:01  7.720378  45.104444  7.695048  45.128276
72  2018-05-11 05:58:34  7.555154  44.999124  7.703622  45.121622
74  2018-05-21 15:36:26  7.535739  45.092283  7.579705  45.104259
76  2018-05-02 00:22:18  7.551998  44.996386  7.531353  45.013469
78  2018-05-13 15:37:37  7.513135  45.044178  7.643592  45.021251
84  2018-05-27 07:06:44  7.579547  45.070319  7.698742  45.052429
86  2018-05-21 21:32:17  7.676692  45.062499  7.686961  45.097096
87  2018-05-05 06:08:53  7.546387  45.087463  7.555944  44.997498
90  2018-05-24 18:32:22  7.723808  45.029711  7.592875  45.039582
Hamburg
               datetime   origin_x   origin_y     dest_x     dest_y
5   2018-05-15 09:13:36  10.072990  53.620450   9.789198  53.463158
6   2018-05-13 13:09:19   9.910278  53.583863  10.025579  53.412072
9   2018-05-04 00:46:12  10.052601  53.534977  10.058896  53.494864
10  2018-05-06 06:34:22   9.961145  53.428659  10.085036  53.436450
11  2018-05-31 10:55:12   9.855285  53.496100  10.033274  53.654196
19  2018-05-10 17:51:38   9.915740  53.609387   9.836134  53.534099
22  2018-05-05 12:39:21  10.200442  53.547225   9.857519  53.525069
23  2018-05-23 05:55:37   9.851542  53.499939  10.032508  53.500581
25  2018-05-09 09:28:24   9.803049  53.508471   9.834884  53.636943
38  2018-05-21 19:13:24  10.048846  53.514305   9.805977  53.569246
39  2018-05-18 11:07:29  10.215496  53.531611  10.205447  53.506411
48  2018-05-01 10:22:59   9.936476  53.455434  10.040912  53.420246
51  2018-05-17 04:27:09  10.061183  53.467382  10.203541  53.511097
55  2018-05-14 01:47:52  10.026101  53.501224   9.834148  53.651308
75  2018-05-21 20:53:22  10.003849  53.652201   9.944926  53.424946
80  2018-05-31 11:59:33   9.913479  53.649405  10.176876  53.634216
81  2018-05-07 10:28:04  10.178015  53.551559   9.958673  53.550926
82  2018-05-29 07:02:25  10.080648  53.543888   9.985428  53.417111
83  2018-05-12 16:40:40  10.033819  53.524872   9.822645  53.600473
85  2018-05-29 06:06:38  10.200937  53.507753  10.039207  53.566983
88  2018-05-27 17:41:17  10.154109  53.530924  10.104120  53.429202
89  2018-05-01 05:24:37   9.840596  53.509919  10.123998  53.629494
91  2018-05-28 22:04:56  10.190194  53.452098  10.099940  53.559652
92  2018-05-21 04:06:11  10.173790  53.546734  10.215298  53.504853
93  2018-05-10 03:37:56  10.145740  53.436869  10.194215  53.494444
94  2018-05-19 18:32:09  10.077879  53.603718   9.880352  53.560888
96  2018-05-23 12:43:17   9.996715  53.522037  10.174314  53.517965
98  2018-05-22 10:39:49  10.083389  53.596613  10.179140  53.609093

In [81]:
#con fines practicos analizaremos Praga, teniendo en cuenta 
#que lo realizado debe funcionar para cualquier region
mask = df_raw_data['region'] == 'Prague'
df_prague = df_raw_data[mask]

In [85]:
#Se buscara construir una bounding box de los viajes dentro de la region para sectorizarlos
#en sub-regiones
min_x = df_prague['origin_x'].min() if df_prague['origin_x'].min() < df_prague['dest_x'].min() else df_prague['dest_x'].min()
max_x = df_prague['origin_x'].max() if df_prague['origin_x'].max() > df_prague['dest_x'].max() else df_prague['dest_x'].max()
min_y = df_prague['origin_y'].min() if df_prague['origin_y'].min() < df_prague['dest_y'].min() else df_prague['dest_y'].min()
max_y = df_prague['origin_y'].max() if df_prague['origin_y'].max() > df_prague['dest_y'].max() else df_prague['dest_y'].max()
# dif_origin_x = df_prague['origin_x'].max() - df_prague['origin_x'].min()
# dif_origin_y = df_prague['origin_y'].max() - df_prague['origin_y'].min()
# dif_dest_x =df_prague['dest_x'].max() - df_prague['dest_x'].min()
# dif_dest_y = df_prague['dest_y'].max() - df_prague['dest_y'].min()
# print(dif_origin_x,dif_origin_y)
# print(dif_dest_x,dif_dest_y)
print(min_x, max_x)
print(min_y, max_y)

14.31199296863995 14.66689257396927
49.98980557466577 50.12502233477432